<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"
    />
    <title>미션 카드 선택</title>
    <link rel="stylesheet" href="static/css/card.css" />
  </head>
  <body>
    <div class="wrapper">
      <div id="card-message">
        미션 카드를 선택해 나만의 챗봇을 만들어 보아요!
      </div>
      <div class="grid-container">
        <button class="image-button">
          <img src="static/images/card1.png" alt="카드1" />
        </button>
        <button class="image-button">
          <img src="static/images/card2.png" alt="카드2" />
        </button>
        <button class="image-button">
          <img src="static/images/card3.png" alt="카드3" />
        </button>
        <button class="image-button">
          <img src="static/images/card4.png" alt="카드4" />
        </button>
        <button class="image-button">
          <img src="static/images/card5.png" alt="카드5" />
        </button>
        <button class="image-button">
          <img src="static/images/card6.png" alt="카드6" />
        </button>
        <button class="image-button">
          <img src="static/images/card7.png" alt="카드7" />
        </button>
        <button class="image-button">
          <img src="static/images/card8.png" alt="카드8" />
        </button>
        <button class="image-button">
          <img src="static/images/card9.png" alt="카드9" />
        </button>
        <button class="image-button">
          <img src="static/images/card10.png" alt="카드10" />
        </button>
      </div>

      <div id="name-start-container" style="display: none">
        <input
          type="text"
          id="username"
          placeholder="창의적인 챗봇 이름 짓기"
        />
        <button onclick="startExperience()">체험 시작</button>
      </div>
    </div>

    <script src="static/js/card.js"></script>
    <script src="static/js/height-fix.js"></script>
  </body>
</html>
