<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"
    />
    <title>나만의 AI 챗봇 만들기</title>
    <link rel="stylesheet" href="static/css/chatbot2.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Jua&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Single+Day&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>

  <body>
    <div id="main-container">
      <div id="prompt-container">
        <div class="left-panel">
          <img
            src="static/images/chatrobot.png"
            alt="로봇 이미지"
            class="robot-img"
          />
          <button class="rectangle" onclick="updateInfo('프롬프트 관련 정보')">
            프롬프트 설정
          </button>
          <button
            class="rectangle"
            onclick="updateInfo('대화 시나리오 만들기')"
          >
            시나리오 설정
          </button>
          <button
            class="rectangle"
            onclick="updateInfo('AI 챗봇 디자인 꾸며보기')"
          >
            말풍선 디자인
          </button>
          <button class="rectangle" onclick="updateInfo('음성인식 체험')">
            음성인식
          </button>
          <button class="rectangle" onclick="updateInfo('활동지 작성')">
            활동지 작성
          </button>
          <div class="image-container">
            <img id="selected-image" src="" alt="선택한 캐릭터 이미지" />
            <div class="overlay-text">카드 바꾸기</div>
          </div>
        </div>

        <div class="info-box">
          <div id="info-content">왼쪽 버튼 중 한개를 클릭해주세요!</div>
        </div>
      </div>

      <div id="chat-container">
        <h2>🤖 💬 AI 대화 체험 공간</h2>
        <div id="messages"></div>
        <div id="input-area">
          <textarea
            id="user-input"
            placeholder="메시지를 입력하세요..."
            rows="3"
          ></textarea>
          <button onclick="sendMessage()">보내기</button>
        </div>
      </div>
    </div>

    <script src="static/js/chatbot2.js"></script>
    <script src="static/js/height-fix.js"></script>
  </body>
</html>
