<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OX 퀴즈 난이도 설문</title>
    <link rel="stylesheet" href="static/css/survey.css" />
  </head>
  <body>
    <div class="survey-container">
      <h2 id="survey-message">퀴즈 난이도 설문</h2>
      <h3 id="survey-message2">스크롤을 내려 모든 문항을 체크해 주세요!</h3>

      <form id="survey-form">
        <ol></ol>

        <button type="submit" id="survey-submit">제출</button>
      </form>

      <div id="survey-result"></div>
    </div>

    <script src="static/js/survey.js"></script>
  </body>
</html>
